<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="post" action="/listing/<%=info._id%>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title">Title</label>
            <input name="listing[title]" type="text" value="<%=info.title%>" class="form-control" required>
            <div class="valid-feedback">Title Good Look</div>
            <div class="invalid-feedback">Please enter the valid title</div>
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea name="listing[description]" value="" id="" cols="25" rows="5" class="form-control" required><%=info.description%></textarea>
            <div class="invalid-feedback">Please enter a short Description</div>
            <div class="valid-feedback">correct</div>
        </div>
        <div class="mb-3">
            <label for="image">Image</label>
            <input name="listing[image]" type="text" required value="<%=info.image%>" class="form-control">
            <div class="invalid-feedback">Please enter the valid image</div>
            <div class="valid-feedback">correct</div>
        </div>
        <div class="row ">
            <div class="col-md-4 mb-3" >
            <label for="price" >Price</label>
            <input name="listing[price]" type="number" required value="<%=info.price%>" class="form-control">
            <div class="invalid-feedback">price should be valid</div>
            <div class="valid-feedback">correct</div>
        </div>
        <div class="col-md-8 mb-3">
            <label for="location">Location</label>
            <input name="listing[location]" type="text" required value="<%=info.location%>" class="form-control">
            <div class="invalid-feedback">Please enter the valid location</div>
            <div class="valid-feedback">correct</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="country">Country</label>
            <input name="listing[country]" type="text" required value="<%=info.country%>" class="form-control">
            <div class="invalid-feedback">Please enter the valid country</div>
            <div class="valid-feedback">correct</div>

        </div>
        <br>
        <button class="btn btn-dark add-btn mb-3">Edit</button>
        <br>
    </form>
    </div>
    </div>
    <script src="/js/script.js"></script>
